<p>Date de mise a jour :</p>
<p>WIS&nbsp;</p>
<p>73 rue vatable 97110 pointe a pitre Guadeloupe&nbsp;</p>
<p>Autorisation cnil : 1907427V0&nbsp;</p>
<p>APPLICATION WIS DISPONIBLE EN TRILINGUE (anglais, fran&ccedil;ais et espagnol) sur mobile
    (smartphone ) et tablette , sous syst&egrave;me d'exploitation IOS et ANDROID&nbsp;</p>
<p>&nbsp;</p>
<p>CONDITIONS :&nbsp;</p>
<p>Date de mise a jour</p>
<p>ARTICLE 1: d&eacute;finition&nbsp;</p>
<p>ARTICLE 2: licence d'utilisation&nbsp;</p>
<p>ARTICLE 3: acc&egrave;s et utilisation des informations de l'application&nbsp;</p>
<p>ARTICLE4 : propri&eacute;t&eacute; intellectuelle&nbsp;</p>
<p>ARTICLE 5: protection des donn&eacute;es personnelles&nbsp;</p>
<p>ARTICLE 6: disponibilit&eacute; de l'application&nbsp;</p>
<p>ARTICLE 7: cr&eacute;ation de la publicit&eacute; (payante)&nbsp;</p>
<p>ARTICLE 8 : limitation de responsabilit&eacute;&nbsp;</p>
<p>ARTICLE 9: garantie&nbsp;</p>
<p>ARTICLE 10 : contact&nbsp;</p>
<p>ARTICLE 11 : dispositions diverses&nbsp;</p>
<p>&nbsp;</p>
<p>Cette application (d&eacute;nomm&eacute;e : WIS ) offre aux diff&eacute;rents utilisateurs ( d&eacute;nomm&eacute;e
    : &nbsp;Utilisateur )&nbsp;</p>
<p>Gratuitement un ensemble de service en ligne&nbsp;</p>
<p>Les pr&eacute;sentes conditions g&eacute;n&eacute;rales d'utilisation et de vente (d&eacute;nomm&eacute;s
    : CGU ET CGV) ont pour objet de d&eacute;finir les r&egrave;gles d'utilisation de WIS &nbsp;y
    compris celles de leurs services par l'utilisateur ainsi que les obligations de l'&eacute;diteur
    . L'utilisateur a acc&egrave;s via la rubrique mentions &nbsp;l&eacute;gales aux mentions l&eacute;gales
    sur l'&eacute;diteur de WIS .&nbsp;</p>
<p>L'utilisateur s'engage lors de ses visites sur l'application, a respecter les pr&eacute;sentes
    CGU et CGV&nbsp;</p>
<p>applicable a l'ensemble des services et produits disponibles sur WIS&nbsp;</p>
<p>Il en r&eacute;sulte que l'utilisateur accepte sans r&eacute;serve les pr&eacute;sentes CGU et
    CGV dans leur totalit&eacute; avant&nbsp;</p>
<p>toute utilisation de WIS .</p>
<p>La simple utilisation de WIS , implique automatiquement acceptation de l'utilisateur aux pr&eacute;sentes
    CGU et CGV&nbsp;</p>
<p>L'&eacute;diteur de WIS se r&eacute;serve le droit de modifier les pr&eacute;sentes CGU et CGV de
    WIS a tout moment et sans notification pr&eacute;alable de ce fait il est conseiller a
    l'utilisateur de consulter r&eacute;guli&egrave;rement les derni&egrave;res versions des CGU et
    CGV disponible dans WIS&nbsp;</p>
<p>&nbsp;</p>
<p>ARTICLE 1 : LES DEFINITIONS&nbsp;</p>
<p>Dans ses pr&eacute;sentes CGU et CGV , les mots et les expressions commen&ccedil;ants par une
    majuscule&nbsp;</p>
<p>auront la signification suivante :&nbsp;</p>
<p>Application WIS mobile et tablette : en t&eacute;l&eacute;chargement gratuits ou payante (
    publicit&eacute; ) et ex&eacute;cutable a partir du syst&egrave;me d'exploitation du support (
    tablette ou mobile )&nbsp;</p>
<p>Editeur : d&eacute;signe JM&nbsp;NAGAPIN&nbsp;</p>
<p>Utilisateur : d&eacute;signe toute personne physique ayant acc&egrave;s a l'Application &nbsp;WIS
    , ind&eacute;pendamment du lieu ou elle se trouve et des modalit&eacute;s de sa connexion a
    l'Application WIS&nbsp;</p>
<p>Information : ensemble des information et des publications disponible via l'Application
    WIS&nbsp;</p>
<p>&nbsp;</p>
<p>ARTICLE 2 : LICENCE D'UTILISATION&nbsp;</p>
<p>L'Editeur accorde a l'Utilisateur une licence d'utilisation personnelle de l'Application WIS
    ainsi que des diff&eacute;rents services , et ce de fa&ccedil;on r&eacute;vocable , non cessible
    &nbsp;, non transf&eacute;rable , gratuite sur les Informations mise a disposition sur
    l'Application WIS&nbsp;</p>
<p>&nbsp;</p>
<p>ARTICLE 3 : ACCES ET UTILISATION DES INFORMATIONS DE L'APPLICATION WIS&nbsp;</p>
<p>&amp; ) les diff&eacute;rents &eacute;quipements et moyens mat&eacute;riels permettant l'usage et
    acc&egrave;s a l'Application WIS&nbsp;</p>
<p>sont a la charge exclusive de l'Utilisateur . L'Utilisateur prend &eacute;galement a sa charge
    les frais de t&eacute;l&eacute;communication induits pour acc&eacute;der et utiliser
    l'Application WIS&nbsp;</p>
<p>&nbsp;</p>
<p>&amp;) l'&Eacute;diteur accorde a l'Utilisateur un droit de consultation , d'utilisation , d'acc&egrave;s
    aux Informations de&nbsp;</p>
<p>l'Application WIS , ce qui induit que l'Utilisateur s'engage a ne t&eacute;l&eacute;charger les
    Informations sur son &eacute;quipement que pour un usage exclusif et non marchand , et &eacute;galement
    a informer l'Editeur de tout piratage ( des qu'il en a connaissance ) en particulier de toute
    utilisation illicite ou non contractuelle des informations et ce quelque soit le mode de
    diffusion utilis&eacute;&nbsp;</p>
<p>De m&ecirc;me interdiction est faite a l'Utilisateur de :</p>
<p>&nbsp; &nbsp;Recopier de reproduire de diffuser sans en avertir l'&Eacute;diteur (&nbsp;<a
        href="mailto:wis.compte@gmail.com" target="_blank">wis.compte@gmail.com</a>&nbsp;)&nbsp;</p>
<p>&nbsp;</p>
<p>ARTICLE 4 : PROPRIETE INTELLECTUELLE&nbsp;</p>
<p>l'&Eacute;diteur est le propri&eacute;taire exclusif de tous les droits de propri&eacute;t&eacute;
    intellectuelle portant aussi bien sur la structure que sur le contenu de l'Application WIS .&nbsp;</p>
<p>&nbsp;</p>
<p>Les pr&eacute;sentes CGU et CGV n'entrainent aucun transfert de droit de propri&eacute;t&eacute;
    &nbsp;intellectuelle au profit de l'Utilisateur et ce tant sur la structure que sur le contenu
    de l'Application WIS&nbsp;</p>
<p>L'Application WIS d&eacute;tient le num&eacute;ro INPI : 542114 du 30 juin 2015&nbsp;</p>
<p>&nbsp;</p>
<p>L'Utilisateur s'engage donc express&eacute;ment a ce que son utilisation de l'Application WIS ne
    porte aucun pr&eacute;judice a l'&Eacute;diteur et que cette utilisation ne constitue pas une
    contrefa&ccedil;on ou une concurrence d&eacute;loyale des Informations&nbsp;</p>
<p>&nbsp;</p>
<p>ARTICLE 5 : PROTECTION DES DONNEES PERSONNELLES&nbsp;</p>
<p>&amp;) l'&Eacute;diteur respecte la vie priv&eacute;e des Utilisateurs &nbsp;en se conformant aux
    lois en vigueur sur la protection de la vie priv&eacute;e et des libert&eacute;s individuelles.
    Toutes les informations communiques par l'Utilisateur du fait des formulaires pr&eacute;sents
    &nbsp;sur l'Application WIS sont n&eacute;cessaires pour r&eacute;pondre a ses demandes et sont
    destin&eacute;es a l'&Eacute;diteur ou a ses prestataires &eacute;ventuels&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&amp;) en vertu des dispositions de la loi no 78-17 du 6 janvier 1978 (informatique et libert&eacute;
    ) telle que modifier par la loi no 2004- 801 du 7 aout 2004 , et concernant l'informatique , les
    fichiers , les libert&eacute;s, chaque Utilisateur dispose d'un droit d'opposition , d'acc&egrave;s
    , de rectification et de suppression des donn&eacute;es le concernant . L'Utilisateur peut
    exercer ce droit en &eacute;crivant a&nbsp;</p>
<p>Service gestion des donn&eacute;es personnelles&nbsp;</p>
<p>73 rue vatable 97110 pointe a pitre ( gpe)&nbsp;</p>
<p>Ou par courrier &eacute;lectronique a&nbsp;<a href="mailto:wis.compte@gmail.com" target="_blank">wis.compte@gmail.com</a>&nbsp;
</p>
<p>&nbsp;</p>
<p>ARTICLE 6 : DISPONIBILITE DE L'APPLICATION&nbsp;</p>
<p>L'Editeur s'engage avec toute sa bonne volont&eacute; a s&eacute;curiser l'acc&egrave;s la
    consultation et l'utilisation des Informations de l'Application WIS . L'Application WIS est
    accessible 24 heures sur 24 , 7 jours sur 7&nbsp;</p>
<p>sauf en cas de force majeur , ou suite a un &eacute;v&eacute;nement hors du contr&ocirc;le de
    l'Editeur , et sous r&eacute;serve des diff&eacute;rentes pannes et interventions de maintenance
    indispensable au bon fonctionnement de l'Application WIS . Toutes interventions de maintenance
    pourront &ecirc;tre effectu&eacute;es sans que l'Utilisateur ait &eacute;t&eacute; informer pr&eacute;alablement</p>
<p>L'Utilisateur d&eacute;clare accepter les caract&eacute;ristiques et les limites de l'internet
    mobile et tablette ainsi que les syst&egrave;mes d'exploitation des Applications et reconnaitre
    que :</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &amp;) son utilisation de l'application se fait a ses risques
    et p&eacute;rils , l'Application WIS lui est disponible en l'&eacute;tat et en fonction de sa
    disponibilit&eacute;&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &amp;) la protection de ses donn&eacute;es , logiciels , lui
    incombe , il lui appartient donc de prendre toutes les mesures n&eacute;cessaires afin de les
    prot&eacute;ger&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &amp;) les performances techniques de l'internet &nbsp;mobiles
    et tablettes , n&eacute;cessitent un temps de traitement pour r&eacute;pondre ,consulter ,
    interroger ou transf&eacute;rer des informations&nbsp;</p>
<p>&nbsp;</p>
<p>ARTICLE 7 : MODALITE DE LA PUBLICITE PAYANTE SUR Application WIS&nbsp;</p>
<p>Le mot suivant annonceur : d&eacute;signe toutes entreprises , associations, particulier ou
    autres d&eacute;sirant effectuer une publicit&eacute; sur l'Application WIS et ce aussi bien en
    anglais fran&ccedil;ais et espagnol&nbsp;</p>
<p>&nbsp;</p>
<p>la partie payante de l'Application WIS est g&eacute;olocaliser kilometriquement &nbsp;en fonction
    de la cible choisie et du souhait de celui qui effectue cette publicit&eacute; ainsi que de son
    secteur d'activit&eacute;&nbsp;</p>
<p>Il est a noter que l'Application WIS permettra une publicit&eacute; a la journ&eacute;e , sur 7
    jours et 30 jours&nbsp;</p>
<p>Avec la possibilit&eacute; de choisir l'heure d'envoie de sa publicit&eacute;&nbsp;</p>
<p>Pour des dur&eacute;e de 7 jours et 30 jours une banni&egrave;re publicitaire est possible et la
    fr&eacute;quence de d&eacute;filement sera proposer a l'annonceur au sein de l'Application WIS&nbsp;</p>
<p>L'Utilisateur en acceptant les CGU et CGV accepte de recevoir des notifications publicitaires en
    fonction du kilom&eacute;trage choisit par l'annonceur&nbsp;</p>
<p>Il est a noter que le paiement se fera en ligne et donc d&eacute;pendra &nbsp;des taxes
    applicables du lieux ou pays de l'annonceur .&nbsp;</p>
<p>Le paiement de la publicit&eacute; sera donc fonction de la dur&eacute;e et du kilom&eacute;trage
    choisit par l'annonceur&nbsp;</p>
<p>Un mail de confirmation de paiement est ensuite envoyer a l'annonceur r&eacute;capitulant sa
    publicit&eacute;&nbsp;</p>
<p>l'Application WIS utilisera un syst&egrave;me &nbsp;de paiement s&eacute;curiser en ligne
    &nbsp;</p>
<p>L'annonceur disposera d'un historique qu'il pourra consulter a sa guise mais aussi d'un systeme
    de suivi de sa publicit&eacute; optimiser pour une analyse pertinente&nbsp;</p>
<p>&nbsp;</p>
<p>ARTICLE 8 : LIMITATION DE RESPONSABILIT&Eacute;&nbsp;</p>
<p>&amp;) l'&Eacute;diteur ne peut donner aucune garantie de fiabilit&eacute; , d'exactitude et
    d'actualit&eacute; a l'ensemble des informations et autres donn&eacute;es pr&eacute;sentes sur
    l'Application WIS quelles soient fournis par &nbsp;l'&Eacute;diteur lui m&ecirc;me ou par ses
    partenaires .Il en r&eacute;sulte que toutes les Informations et autres donn&eacute;es figurant
    sur l'Application WIS et ses services sont fournis uniquement a titre d'information&nbsp;</p>
<p>&nbsp;</p>
<p>&amp;)&nbsp;</p>
<p>7.2 L'EDITEUR N'EST L'AUTEUR QUE DES INFORMATIONS DE L'APPLICATION.<br/> L'EDITEUR N'A PAS
    D'OBLIGATION G&Eacute;N&Eacute;RALE DE SURVEILLANCE DES DONN&Eacute;ES NI D'OBLIGATION DE
    SUPPRESSION D'UN CONTENU QUI NE PARAITRAIT PAS MANIFESTEMENT ILLICITE, NONOBSTANT SON
    SIGNALEMENT.<br/> LA RESPONSABILIT&Eacute; DE L'EDITEUR NE SAURAIT NON PLUS &Ecirc;TRE ENGAG&Eacute;E
    EN CAS D'INTERRUPTION D'ACC&Egrave;S AU SITE INTERNET DU FAIT D'OP&Eacute;RATIONS DE
    MAINTENANCE, DE MISES &Agrave; JOUR OU D'AM&Eacute;LIORATIONS TECHNIQUES, OU POUR EN
    FAIRE &Eacute;VOLUER LE CONTENU ET/OU LA PR&Eacute;SENTATION, D&Egrave;S LORS QUE CES
    INTERRUPTIONS SERONT SIGNAL&Eacute;ES ET QU'ELLES N'EXC&Eacute;DERONT PAS LES USAGES EN MATI&Egrave;RE.
    EN OUTRE, L'EDITEUR POURRA INTERROMPRE TEMPORAIREMENT OU D&Eacute;FINITIVEMENT L'ACC&Egrave;S AU
    SITE INTERNET ET AU SERVICE, NOTAMMENT EN CAS DE CESSATION PAR LUI DE L'ACTIVIT&Eacute; EN
    CAUSE, OU EN CAS DE LIQUIDATION JUDICIAIRE OU AMIABLE &nbsp;; DANS CES DERNI&Egrave;RES HYPOTH&Egrave;SES,
    LE PR&Eacute;SENT CONTRAT EST R&Eacute;SILI&Eacute; DE PLEIN DROIT.L'EDITEUR NE SAURAIT &Ecirc;TRE
    TENU POUR RESPONSABLE DE LA PR&Eacute;SENCE DE VIRUS SUR LE SITE&nbsp;<a
            href="http://internet.et/" target="_blank">INTERNET.ET</a>&nbsp;SUR L'APPLICATION&nbsp;
</p>
<p>L'EDITEUR NE POURRA EN AUCUN CAS &Ecirc;TRE TENU RESPONSABLE DE TOUTE CONS&Eacute;QUENCE QUI
    POURRAIT SURVENIR AU COURS, OU &Agrave; L'ISSUE, DE RENCONTRES OU PRISES DE CONTACT ENTRE
    PLUSIEURS INTERNAUTES, &Agrave; LA SUITE DE L'UTILISATION DU SITE ET DE SES SERVICES.DANS TOUTES
    LES HYPOTH&Egrave;SES REQUISES PAR LA LOI, L'AUTORIT&Eacute; ADMINISTRATIVE OU JUDICIAIRE (COMME
    POUR LES CAS DE R&Eacute;QUISITION), LA RESPONSABILIT&Eacute; DE L'EDITEUR NE POURRA &Ecirc;TRE
    ENGAG&Eacute;E DANS L'HYPOTH&Egrave;SE O&Ugrave; CE DERNIER COMMUNIQUERAIT LES DONN&Eacute;ES
    PERSONNELLES DE L'UTILISATEUR &Agrave; L'AUTORIT&Eacute; CONCERN&Eacute;E.</p>
<p>L'EDITEUR N'EST PAS RESPONSABLE DU CONTENU DES SITES INTERNET TIERS &Eacute;VENTUELS VERS
    LESQUELS RENVOIENT DES LIENS HYPERTEXTES PR&Eacute;SENTS SUR LE SITE INTERNET.</p>
<p>DANS TOUTE LA MESURE PERMISE PAR LA LOI APPLICABLE ET DANS LA MESURE O&Ugrave; L'EDITEUR SERAIT
    JUG&Eacute; RESPONSABLE D'UN DOMMAGE NON-PR&Eacute;VU CI-DESSUS, LA RESPONSABILIT&Eacute; DE
    L'EDITEUR SERA LIMIT&Eacute;E AUX DOMMAGES CERTAINS, R&Eacute;ELS ET &Eacute;TABLIS. DANS TOUTE
    LA MESURE PERMISE PAR LA LOI, EN AUCUN CAS L'EDITEUR OU SES PARTENAIRES NE SAURAIENT &Ecirc;TRE
    RESPONSABLES DES DOMMAGES INDIRECTS, DU MANQUE &Agrave; GAGNER OU DES DOMMAGES D&Eacute;COULANT
    DE LA PERTE DE DONN&Eacute;ES OU DE LA PERTE D'EXPLOITATION CAUS&Eacute;E PAR L'UTILISATION OU
    L'IMPOSSIBILIT&Eacute; D'UTILISER LE SITE INTERNET, LE SERVICE OU LE CONTENU, QUE CE SOIT SUR LA
    BASE D'UNE GARANTIE, D'UN CONTRAT OU D'UN D&Eacute;LIT CIVIL OU SELON TOUTE AUTRE TH&Eacute;ORIE
    JURIDIQUE ET QUE L'EDITEUR SOIT OU NON AVIS&Eacute; DE LA POSSIBILIT&Eacute; DE TELS
    DOMMAGES.</p>
<p>&nbsp;&amp;) l'Editeur est seul responsable des mises a jours des versions ou sous versions
    successives de l'Application WIS . L'Editeur ne saurait engager sa responsabilite a ce titre&nbsp;</p>
<p>&nbsp;</p>
<p>ARTICLE 9 : &nbsp;GARANTIE</p>
<p>&amp;) chaque Utilisateur s'engage express&eacute;ment :&nbsp;</p>
<p>&nbsp;</p>
<p>1) a ne pas utiliser de logiciel ou tous autres proc&eacute;d&eacute;s afin de copier le contenu
    de l'Application WIS&nbsp;</p>
<p>&nbsp; &nbsp; sans l'autorisation expresse et pr&eacute;alable de l'Editeur&nbsp;</p>
<p>2) a renoncer express&eacute;ment a utiliser des logiciels ou dispositifs susceptibles de
    perturber le bon fonctionnement de l'Application WIS , ni a &nbsp;engager &nbsp;d'action de
    nature a imposer une charge disproportionn&eacute;e pour l'Editeur &nbsp;</p>
<p>3) a ne pas alt&eacute;rer , modifier voire cr&eacute;er &nbsp;, des oeuvres d&eacute;riv&eacute;es
    a partir du contenu de l'Application WIS sans le consentement expr&egrave;s et pr&eacute;alable
    de l'Editeur&nbsp;</p>
<p>4) a accepter les caract&eacute;ristiques et les limites de l'internet mobile et tablette , et en
    particulier a reconnaitre que :&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&amp;) l'utilisation de
    l'Application WIS &nbsp;Se fait a ses risques et p&eacute;rils , l'Application WIS lui est
    accessible en l'&eacute;tat et en fonction de sa disponibilit&eacute;&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &amp;) la protection de ses
    propres donn&eacute;es , logiciels , lui incombe et il lui appartient de prendre toutes les
    mesures appropri&eacute;es de fa&ccedil;on a les prot&eacute;ger des &eacute;ventuels virus
    circulant dans l'Application WIS&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &amp;) les performances
    techniques de l'internet mobile et tablette requi&egrave;rent un temps de traitement n&eacute;cessaire
    pour r&eacute;pondre , consulter, interroger, ou transf&eacute;rer le contenu de l'Application
    WIS&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&amp;) ne proc&eacute;der
    a des courtes citations analyses et reproductions destin&eacute;es a des revues de presses ainsi
    qu'aux autres utilisations express&eacute;ment autoris&eacute;es par la loi dans les limites et
    conditions fix&eacute;es par cette derni&egrave;re et sous r&eacute;serve notamment de citer le
    nom des auteurs et la source &eacute;ditoriales</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&amp;) a ne pas
    extraire ou r&eacute;utiliser y compris a des fins priv&eacute;es sans autorisation &eacute;crite
    et pr&eacute;alable de l'Editeur une partie substantielle ou non du contenu des bases de donn&eacute;es
    et archives constitu&eacute;es par l'Application WIS&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &amp;) a informer l'Editeur
    des la connaissance d'un piratage et en particulier de toute utilisation illicite ou non
    contractuelle du contenu de l'Application WIS et ce quel que soit le mode de diffusion utilise&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&amp;) a mettre en
    place des syst&egrave;mes susceptibles ou de nature a pirater l'Application WIS en tout ou
    partie ou de nature a violer les pr&eacute;sentes CGU et CGV&nbsp;</p>
<p>&nbsp;</p>
<p>ARTICLE &nbsp;10 : CONTACT&nbsp;</p>
<p>Tout Utilisateur de l'Application WIS et / ou de leurs services peut contacter l'Editeur par&nbsp;</p>
<p>Courrier postal au 73 rue vatable 97110 pointe a pitre gpe&nbsp;</p>
<p>&nbsp;</p>
<p>ARTICLE 11 : DISPOSITIONS DIVERSES&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp;1) si l'une des dispositions des pr&eacute;sentes CGU et CGV &eacute;tait d&eacute;clar&eacute;e
    nulle ou inapplicable en application d'une loi , d'un r&egrave;glement ou a la suite d'une
    desicion de justice devenu d&eacute;finitive elle serait r&eacute;put&eacute;e non &eacute;crite
    et les autres dispositions resteraient en vigueur</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; 2) les relations contractuelles entre l'Editeur et l'Utilisateur sont r&eacute;gies
    par les seules dispositions des pr&eacute;sentes CGU et CGV</p>
<p>&nbsp;</p>